.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.addPost {
    display: flex;
    width: 60%;
    height: 80px;
}

.addPost textarea {
    background-color: rgba(123, 104, 238, .8);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    resize: none;
}

.addPost button {
    align-items: center;
    height: 40%;
    width: 100px;
    border-radius: 10px;
    border: transparent;
    background-color: rgb(123, 104, 238);
    font-weight: bold;
    margin: 5px 5px auto;
}