.dialogs {
    display: grid;
    grid-template-columns: 2fr 4fr;
    padding: 20px;
}

.dialogs a {
    color: white;
    text-decoration: none;
}

.dialog a:focus {
    color: gold;
}

.dialogs img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.userText {
    display: flex;
}

.userText button {
    border-radius: 10px;
    border: transparent;
    background-color: rgb(123, 104, 238);
    font-weight: bold;
    margin-left: 10px;
    width: 20%;
}

.userText textarea {
    background-color: rgba(123, 104, 238, .8);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    resize: none;
}

.message {
    background-color:rgba(123, 104, 238, .5);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    overflow-wrap: anywhere;
}